#personal notes
obsidian_notes

#c and asm related
*.o
*.out

#rust related
rust-compiler/**/target
rust-compiler/**/debug
**/*.rs.bk
**/mutants.out*/
#maybe only for windoze but its in the github rust gitignore
*.pdb 
